@{ 
    ViewBag.Title = "İndex";
}

<div class="text-center">
    <h2>Harika bir doğumgünü partisi olacak</h2>
    <h3>Sen de davetlisin</h3>
    @Html.ActionLink("Geliyor musun?","DavetiyeFormu",null, new {@class="btn btn-primary"})
</div>
