@model IEnumerable<web_api.Models.DavetiyeModel>

@if (Model.Count() == 1)
{
    <p>Partiye gelen ilk kişi sensin :)</p>
}
else
{
    <hr />
    <p>
        @foreach (var item in Model)
        {
            <label class="label label-success">@item.Ad</label>
        }
    </p>
}
